<!-- Start Piwik Tracking Code -->
<script type="text/javascript">
 try {
    var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=  "{{ url }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{ id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  } catch( err ) {}
</script>
</script><noscript><img src="{{ url }}piwik.php?idsite={{ id }}&rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik Tracking Code -->